
/*    GENERALES      */
body{
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
}


h1, h2, h3, h4, h5, h6{
	font-family: 'Fjalla One', sans-serif;
	font-weight: normal;
}


h1{
	font-size: 40px;
	line-height: 150%;
	letter-spacing: -1px;
	color: white;
	margin:  100px 150px 70px 30px;
}


h1 strong{
	color:  #026fff;
}

figure{
	margin:0;
}



/*    HEADER      */
.header{
	background-color: #1d252c;
	color: white;
	display: flex;
	justify-content: space-between;
	height: 90px;
}



.menu{
	height: inherit;
}


.header ol, .header ul{
	margin:0;
	padding: 0;
	list-style: none;
}



.header a{
	color: white;
	text-decoration: none;
	display: flex;
	align-items: center;
	height: inherit;
	padding: 0 10px;
}



.header ol{
	display: flex;
	height: inherit;
}


.header ol li{
	height: inherit;
}















.hero{
	height: 300px;
	background-image: url('../../resources/images/hero.jpg');
	background-color: #1d252c;
	background-size: 500px 300px;
	background-repeat: no-repeat;
	background-position:right;
}


.portfolio{
	background-color: #fafafa;
}


.project{
	border: 1px solid gray;
	border-radius: 10px;
	margin: 10px;
	margin-bottom: 15px;
	padding: 20px;
	background-color: white;
	display: flex;

}


.project-details,
.project-imageContainer
{
	width: 500px;
}

