/*gris oscuro = #1d252c
gri claro = #626262
background gris = #1b2127
celeste = #026fff
*/


body{
	font-family: 'Source Sans Pro', sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Fjalla One', sans-serif;
	font-weight: normal;
}


h1{
	font-size: 40px;
	line-height: 150%;
	letter-spacing: -1px;
	color: white;
}

h1 strong{
	color:  #026fff;
}



.header{
	background-color: #1d252c;
	color: white;
}


.header a{
	color: white;
	text-decoration: none;
}




.hero{
	height: 300px;
	background-image: url('../../resources/images/hero.jpg');
	background-color: #1d252c;
	background-size: 500px 300px;
	background-repeat: no-repeat;
	background-position:right;
}




.project{
	border: 1px solid gray;
	border-radius: 10px;
}


.project-details,
.project-imageContainer
{
	width: 500px;
}

